streamlit
requests
pandas
vanna
chromadb
langchain
langchain-openai
langchain-core
langgraph
langchain-text-splitters
langchain-embeddings
langchain-vectorstores
langchain-retrievers
langchain-document-loaders
langchain-prompts
langchain-chroma